<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bonjour à vous, si vous avez une histoire à nous raconter, n'hésite pas. <br> Cliquez sur <a href="/gossips/new/">Crée ton propre potin</a>*</h1> (*8 euros 50 TTC)
  </body>
</html>